<!DOCTYPE html>
<html>
<head>
	<title>Attack</title>
    <link href="<%= url('/style_attack_single_p1.css') %>" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>-->
</head>
    <body>
        <div class="page-content-container">
            <div class="hp-content-container">
                <%if $game.player_1.hit_points == 100 %>
                    <div class="hp-box-one-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div> 
                <%elsif $game.player_1.hit_points < 100 && $game.player_1.hit_points >= 90 %>
                    <div class="hp-box-two-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 90 && $game.player_1.hit_points >= 80 %>
                    <div class="hp-box-three-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 80 && $game.player_1.hit_points >= 70 %>
                    <div class="hp-box-four-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 70 && $game.player_1.hit_points >= 60 %>
                    <div class="hp-box-five-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 60 && $game.player_1.hit_points >= 50 %>
                    <div class="hp-box-six-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 50 && $game.player_1.hit_points >= 40 %>
                    <div class="hp-box-seven-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 40 && $game.player_1.hit_points >= 30 %>
                    <div class="hp-box-eight-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 30 && $game.player_1.hit_points >= 20 %>
                    <div class="hp-box-nine-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 20 && $game.player_1.hit_points >= 10 %>
                    <div class="hp-box-ten-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points == 0 %>
                    <div class="hp-box-eleven-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%end%>
                <div id='timer'></div>
                <%if $game.player_2.hit_points == 100 %>
                    <div class="hp-box-one-right" style="right: 0;">
                        <h1><%=$game.player_2.choice%></h1>
                    </div> 
                <%elsif $game.player_2.hit_points < 100 && $game.player_2.hit_points >= 90 %>
                    <div class="hp-box-two-right" >
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 90 && $game.player_2.hit_points >= 80 %>
                    <div class="hp-box-three-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 80 && $game.player_2.hit_points >= 70 %>
                    <div class="hp-box-four-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 70 && $game.player_2.hit_points >= 60 %>
                    <div class="hp-box-five-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 60 && $game.player_2.hit_points >= 50 %>
                    <div class="hp-box-six-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 50 && $game.player_2.hit_points >= 40 %>
                    <div class="hp-box-seven-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 40 && $game.player_2.hit_points >= 30 %>
                    <div class="hp-box-eight-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 30 && $game.player_2.hit_points >= 20 %>
                    <div class="hp-box-nine-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 20 && $game.player_2.hit_points >= 10 %>
                    <div class="hp-box-ten-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points == 0 %>
                    <span class="hp-box-eleven-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </span>
                <%end%>
            </div>
            <div class="character-content-container">
                <div class="p1-image-box">
                    <%if $game.player_1.choice == "Peter"%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Peter.png">
                        <%elsif $game.player_1.choice == "Chicken"%>
                        <img style="max-width: 250px; max-height: 250px; transform: scaleX(-1);" src="images/Chicken.png">
                    <%end%>
                </div>
                <div class="p2-image-box">
                    <%if $game.player_2.choice == "Peter"%>
                        <img style="max-width: 250px; max-height: 250px; transform: scaleX(-1);" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken"%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Chicken.png">
                    <%end%>
                </div>
            </div>
            <div class="turn-ready">
                <%if $game.player_1.choice == "Peter" && $game.player_2.choice == "Peter"%>
                    <h5><%=$game.current_turn.choice.upcase%> DON'T HURT YOURSELF TOO MUCH !</h5>
                <%elsif $game.player_1.choice == "Chicken" && $game.player_2.choice == "Chicken"%>
                    <h5><%=$game.current_turn.choice.upcase%> DON'T HURT YOURSELF TOO MUCH !</h5>
                <%else%>
                    <h5><%=$game.current_turn.choice.upcase%>'S TURN !</h5>
                <%end%>
            </div>
            <div class="all-buttons-container">
                <form action=/effect_single_player method="post">      
                    <%if $game.current_turn == $game.player_1 && $game.player_1.choice == "Peter" %>
                        <input class="button-one-view-attack" type="submit" name="attack_type" value="PUNCH">
                        <input type="hidden" name="attack_type" value="PUNCH">
                    <%elsif $game.current_turn == $game.player_1 && $game.player_1.choice == "Chicken" %>
                        <input class="button-one-view-attack" type="submit" name="attack_type" value="PUNCH">
                        <input type="hidden" name="attack_type" value="PUNCH">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Peter" %>
                        <input class="button-one-view-attack" type="submit" name="attack_type" value="PUNCH">
                        <input type="hidden" name="attack_type" value="PUNCH">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Chicken" %>
                        <input class="button-one-view-attack" type="submit" name="attack_type" value="PUNCH">
                        <input type="hidden" name="attack_type" value="PUNCH">
                    <%end%>
                </form>
                <br>
                <form action=/effect_single_player method="post">
                    <%if $game.current_turn == $game.player_1 && $game.player_1.choice == "Peter" %>
                        <input class="button-two-view-attack" type="submit" name="attack_type" value="KICK">
                        <input type="hidden" name="attack_type" value="KICK">
                    <%elsif $game.current_turn == $game.player_1 && $game.player_1.choice == "Chicken" %>
                        <input class="button-two-view-attack" type="submit" name="attack_type" value="KICK">
                        <input type="hidden" name="attack_type" value="KICK">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Peter" %>
                        <input class="button-two-view-attack" type="submit" name="attack_type" value="KICK">
                        <input type="hidden" name="attack_type" value="KICK">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Chicken" %>
                        <input class="button-two-view-attack" type="submit" name="attack_type" value="KICK">
                        <input type="hidden" name="attack_type" value="KICK">
                    <%end%>
                </form>
                <br>
                <form action=/effect_single_player method="post">
                    <%if $game.current_turn == $game.player_1 && $game.player_1.choice == "Peter" %>
                        <input class="button-three-view-attack" type="submit" name="attack_type" value="LAUGH">
                        <input type="hidden" name="attack_type" value="LAUGH">
                    <%elsif $game.current_turn == $game.player_1 && $game.player_1.choice == "Chicken" %>
                        <input class="button-three-view-attack" type="submit" name="attack_type" value="DIRTY LOOK">
                        <input type="hidden" name="attack_type" value="DIRTY LOOK">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Peter" %>
                        <input class="button-three-view-attack" type="submit" name="attack_type" value="LAUGH">
                        <input type="hidden" name="attack_type" value="LAUGH">
                    <%elsif $game.current_turn == $game.player_2 && $game.player_2.choice == "Chicken" %>
                        <input class="button-three-view-attack" type="submit" name="attack_type" value="DIRTY LOOK">
                        <input type="hidden" name="attack_type" value="DIRTY LOOK">
                    <%end%>
                </form>
            </div>  
            <script>
                let timeLeft = 10;
                let elem = document.getElementById('timer');
                let timerId = setInterval(countdown, 1000);

                function countdown() {
                    if (timeLeft == -1) {
                        clearTimeout(timerId);
                        doSomething();
                    } else {
                        elem.innerHTML = timeLeft;
                        timeLeft--;
                    }
                }
                
                function doSomething() {
                    window.location.href = "/time_out";
                }

            </script>
        </div>
    </body>
</html>