<!DOCTYPE html>
<html>
<head>
	<title>Game Over</title>
    <link href="<%= url('/style_game_over.css') %>" rel="stylesheet" type="text/css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/press-start-2p" type="text/css"/>
</head>
<body>
    <div class="whole-container-ready">
        <div id="hpbar-time-container-ready">
            <div class="name-hp-bar1-ready">
                <%= $game.player_1.choice.upcase %> / <%= $game.player_1.hit_points %>
            </div>
            <div id="timer">
            </div>
            <div class="name-hp-bar2-ready">
                <%= $game.player_2.hit_points %> \ <%= $game.player_2.choice.upcase %>
            </div>
        </div>
            <div class="selected-characters-wrapper-ready">
                <div class="p1-full-box-ready">
                    <%if $game.player_1.choice == "Peter" && $game.winner == $game.player_1 %>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Peter.png">
                    <%elsif $game.player_1.choice == "Chicken" && $game.winner == $game.player_1%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Chicken.png">
                    <%elsif $game.player_1.choice == "Peter" && $game.winner == $game.player_2 %>
                        <img style="max-width: 250px; max-height: 250px;" src="images/peter_beaten.png">
                    <%elsif $game.player_1.choice == "Chicken" && $game.winner == $game.player_2%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/chicken_beaten.png">
                    <%else%>
                            Error
                    <%end%>
                </div>
                <div class="p2-full-box-ready">
                    <%if $game.player_2.choice == "Peter" && $game.winner == $game.player_2 %>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken" && $game.winner == $game.player_2%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/Chicken.png">
                    <%elsif $game.player_2.choice == "Peter" && $game.winner == $game.player_1 %>
                        <img style="max-width: 250px; max-height: 250px;" src="images/peter_beaten.png">
                    <%elsif $game.player_2.choice == "Chicken" && $game.winner == $game.player_1%>
                        <img style="max-width: 250px; max-height: 250px;" src="images/chicken_beaten.png">
                    <%else%>
                            Error
                    <%end%>
                </div>
            </div>

        <div id="winner-container">
            <div class="winner-name">
                <p><%= $game.winner.choice.upcase %></p>
            </div>
            <div class="winner-wins">
                <p> WINS !!! </p>
            </div>
        </div>



        <div id="quit-play-container" style="background: url(images/peter_punch.jpg) no-repeat center rgb(241, 237, 237);
         min-height:500px; min-width: 800px; margin: 0%; border-top: 5px black solid; background-size: auto;">
            <div class="button-container-ready-1">
                <form action=/selection method="get">
                    <div class="attack-button-ready-1">
                        <input class="button_view" type="submit" name="over" value="PLAY AGAIN">
                        <input type="hidden" name="over" value="PLAY AGAIN">
                    </div>
                </form>
            </div>
            <div class="button-container-ready-2">
                <form action=/ method="get">
                    <div class="attack-button-ready-2">
                        <input class="button_view" type="submit" name="over" value="QUIT">
                        <input type="hidden" name="over" value="QUIT">
                    </div>
                </form>
            </div>
        </div>




        <script>
            let timeLeft = 99;
            let elem = document.getElementById('timer');
            let timerId = setInterval(countdown, 1000);
            function countdown() {
                if (timeLeft == -1) {
                    clearTimeout(timerId);
                    doSomething();
                } else {
                    elem.innerHTML = timeLeft;
                    timeLeft--;
                }
            }
            function doSomething() {
                window.location.href = "/";
            }
        </script>
    </div>

</body>

</html>