<!DOCTYPE html>
<html>
<head>
	<title>Time Out</title>
    <link href="<%= url('/style_game_over.css') %>" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="page-content-container">
            <div class="hp-content-container">
                <%if $game.player_1.hit_points == 100 %>
                    <div class="hp-box-one-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div> 
                <%elsif $game.player_1.hit_points < 100 && $game.player_1.hit_points >= 90 %>
                    <div class="hp-box-two-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 90 && $game.player_1.hit_points >= 80 %>
                    <div class="hp-box-three-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 80 && $game.player_1.hit_points >= 70 %>
                    <div class="hp-box-four-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 70 && $game.player_1.hit_points >= 60 %>
                    <div class="hp-box-five-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 60 && $game.player_1.hit_points >= 50 %>
                    <div class="hp-box-six-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 50 && $game.player_1.hit_points >= 40 %>
                    <div class="hp-box-seven-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 40 && $game.player_1.hit_points >= 30 %>
                    <div class="hp-box-eight-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 30 && $game.player_1.hit_points >= 20 %>
                    <div class="hp-box-nine-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points < 20 && $game.player_1.hit_points >= 10 %>
                    <div class="hp-box-ten-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%elsif $game.player_1.hit_points <= 0 %>
                    <div class="hp-box-eleven-left">
                        <h1><%=$game.player_1.choice%></h1>
                    </div>
                <%end%>
                <div id='timer'>
                TIME OUT!
                </div>
                <%if $game.player_2.hit_points == 100 %>
                    <div class="hp-box-one-right" style="right: 0;">
                        <h1><%=$game.player_2.choice%></h1>
                    </div> 
                <%elsif $game.player_2.hit_points < 100 && $game.player_2.hit_points >= 90 %>
                    <div class="hp-box-two-right" >
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 90 && $game.player_2.hit_points >= 80 %>
                    <div class="hp-box-three-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 80 && $game.player_2.hit_points >= 70 %>
                    <div class="hp-box-four-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 70 && $game.player_2.hit_points >= 60 %>
                    <div class="hp-box-five-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 60 && $game.player_2.hit_points >= 50 %>
                    <div class="hp-box-six-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 50 && $game.player_2.hit_points >= 40 %>
                    <div class="hp-box-seven-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 40 && $game.player_2.hit_points >= 30 %>
                    <div class="hp-box-eight-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 30 && $game.player_2.hit_points >= 20 %>
                    <div class="hp-box-nine-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points < 20 && $game.player_2.hit_points >= 10 %>
                    <div class="hp-box-ten-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </div>
                <%elsif $game.player_2.hit_points <= 0 %>
                    <span class="hp-box-eleven-right">
                        <h1><%=$game.player_2.choice%></h1>
                    </span>
                <%end%>
            </div>
            <div class="character-content-container">
                <div class="p1-image-box">
                    <%if $game.player_1.choice == "Peter" && $game.player_1.hit_points == $game.player_2.hit_points %>
                        <img style="max-width: 350px; max-height: 350px;" src="images/Peter.png">
                    <%elsif $game.player_1.choice == "Chicken" && $game.player_1.hit_points == $game.player_2.hit_points %>
                        <img style="max-width: 350px; max-height: 350px;  transform: scaleX(-1);" src="images/Chicken.png">
                    <%elsif $game.player_1.choice == "Peter" && $game.winner == $game.player_1 %>
                        <img style="max-width: 350px; max-height: 350px;" src="images/Peter.png">
                    <%elsif $game.player_1.choice == "Chicken" && $game.winner == $game.player_1%>
                        <img style="max-width: 350px; max-height: 350px; transform: scaleX(-1);" src="images/Chicken.png">
                    <%elsif $game.player_1.choice == "Peter" && $game.winner == $game.player_2 %>
                        <img style="max-width: 350px; max-height: 350px;" src="images/peter_beaten.png">
                    <%elsif $game.player_1.choice == "Chicken" && $game.winner == $game.player_2%>
                        <img style="max-width: 350px; max-height: 350px; transform: scaleX(-1);" src="images/chicken_beaten.png">
                    <%else%>
                            Error
                    <%end%>               
                </div>
                <div class="p2-image-box">
                    <%if $game.player_2.choice == "Peter" && $game.player_2.hit_points == $game.player_1.hit_points %>
                        <img style="max-width: 350px; max-height: 350px;  transform: scaleX(-1);" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken" && $game.player_2.hit_points == $game.player_1.hit_points %>
                        <img style="max-width: 350px; max-height: 350px;" src="images/Chicken.png">
                    <%elsif $game.player_2.choice == "Peter" && $game.winner == $game.player_2 %>
                        <img style="max-width: 350px; max-height: 350px; transform: scaleX(-1);" src="images/Peter.png">
                    <%elsif $game.player_2.choice == "Chicken" && $game.winner == $game.player_2%>
                        <img style="max-width: 350px; max-height: 350px;" src="images/Chicken.png">
                    <%elsif $game.player_2.choice == "Peter" && $game.winner == $game.player_1 %>
                        <img style="max-width: 350px; max-height: 350px; transform: scaleX(-1);" src="images/peter_beaten.png">
                    <%elsif $game.player_2.choice == "Chicken" && $game.winner == $game.player_1%>
                        <img style="max-width: 350px; max-height: 350px;" src="images/chicken_beaten.png">
                    <%else%>
                            Error
                    <%end%>
                </div>
            </div>

            <div id="winner-container">
                <div class="winner-name">
                <% if $game.player_1.hit_points == $game.player_2.hit_points %>
                    <p>WE HAVE</p>
                <% else %>
                    <p><%= $game.winner.choice.upcase %></p>
                <%end%>
                </div>
                <div class="winner-wins">
                <% if $game.player_1.hit_points == $game.player_2.hit_points %>
                    <p>A DRAW!!!</p>
                <%else%>
                    <p>WINS!!!</p>
                <%end%>
                </div>
            </div>
        <%if $game.player_1.choice == "Peter" && $game.player_2.choice == "Peter" && $game.player_1.hit_points == $game.player_2.hit_points%>
            <div id="quit-play-container" style="background: url(images/peter_peter_win.jpg) no-repeat center white; background-size: 76vh;">
        <%elsif $game.player_1.choice == "Peter" && $game.player_2.choice == "Chicken" && $game.player_1.hit_points == $game.player_2.hit_points%>
            <div id="quit-play-container" style="background: url(images/peter_chicken_draw.png) no-repeat center white; background-size: 76vh;">
        <%elsif $game.player_1.choice == "Chicken" && $game.player_2.choice == "Chicken" && $game.player_1.hit_points == $game.player_2.hit_points%>
            <div id="quit-play-container" style="background: url(images/chicken_chicken_draw.jpg) no-repeat center white; background-size: 76vh;">
        <%elsif $game.winner == $game.player_1 && $game.player_1.choice == "Peter" && $game.player_2.choice == "Peter" %>
         <div id="quit-play-container" style="background: url(images/peter_peter_win.jpg) no-repeat center white; background-size: 76vh;">
        <%elsif $game.winner == $game.player_1 && $game.player_1.choice == "Chicken" && $game.player_2.choice == "Chicken"%>
         <div id="quit-play-container" style="background: url(images/chicken_chicken_win.png)no-repeat center white; background-size: 76vh;">
         <%elsif $game.winner == $game.player_2 && $game.player_2.choice == "Chicken" && $game.player_1.choice == "Chicken"%>
         <div id="quit-play-container" style="background: url(images/chicken_chicken_win.jpg) no-repeat center white; background-size: 76vh;">
         <%elsif $game.winner == $game.player_2 && $game.player_2.choice == "Peter" && $game.player_1.choice == "Peter"%>
         <div id="quit-play-container" style="background: url(images/peter_peter_win.jpg) no-repeat center white; background-size: 76vh;">
        <%elsif $game.winner == $game.player_1 && $game.player_1.choice == "Peter"%>
        <div id="quit-play-container" style="background: url(images/peter_win.png) no-repeat center white; background-size: 76vh;">
        <%elsif $game.winner == $game.player_1 && $game.player_1.choice == "Chicken"%>
         <div id="quit-play-container" style="background: url(images/chicken_win.jpg) no-repeat center white; background-size: 76vh;">
        <%elsif $game.winner == $game.player_2 && $game.player_2.choice == "Peter"%>
        <div id="quit-play-container" style="background: url(images/peter_win.png) no-repeat center white; background-size: 76vh;">
         <%elsif $game.winner == $game.player_2 && $game.player_2.choice == "Chicken"%>
         <div id="quit-play-container" style="background: url(images/chicken_win.jpg) no-repeat center white; background-size: 76vh;">
        <%end%>
            <div class="button-container-ready-1">
            <% if $game.single_player == true %>
                <form action=/selection_single method="get">
                    <div class="attack-button-ready-1">
                        <input class="button-view" type="submit" name="over" value="PLAY AGAIN">
                        <input type="hidden" name="over" value="PLAY AGAIN">
                    </div>
                </form>
            <% elsif $game.single_player == false %>
                <form action=/selection method="get">
                    <div class="attack-button-ready-1">
                        <input class="button-view" type="submit" name="over" value="PLAY AGAIN">
                        <input type="hidden" name="over" value="PLAY AGAIN">
                    </div>
                </form>
            <% end %>
            </div>
            <div class="button-container-ready-2">
                <form action=/ method="get">
                    <div class="attack-button-ready-2">
                        <input class="button-view" type="submit" name="over" value="QUIT">
                        <input type="hidden" name="over" value="QUIT">
                    </div>
                </form>
            </div>
        </div>

    </div>

</body>

</html>